@import "tailwindcss";

@theme inline {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --radius-mg: 8px;
  --radius-lg: 20px;

  --color-foreground: #21291d;
  --color-muted: #f2f3f5;
  --color-muted-foreground: #696969;
  --color-border: #ebebeb;
  --color-primary: #0066ff;
  --color-primary-foreground: #ffffff;
  --color-secondary: #e5efff;
  --color-secondary-foreground: #0066ff;
  --color-accent: #f2f3f5;
  --color-accent-blue: #0fc6c2;
  --color-accent-orange: #f99057;
  --color-destructive: #f53f3f;
  --color-success: #00b42a;

  --animate-spin: spin 0.5s linear infinite;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
